@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="well col-sm-5">
        <h3>User Stories</h3>
        <p>
            ComedyClub is a mini social network that makes it really easy for users to track the shows of their favorite stand-up comedians.
            <br/>
            <br/>
            Comedians can sign up and list their shows. When adding a show, they should specify the date/time, location and genre of the show.
            <br/>
            <br/>
            A comedian should have a page called My Upcoming Shows. From there, they should be able to edit or remove an existing show, or add another show to the list.
            <br/>
            <br/>
            Users should be able to view all upcoming shows or search them by comedian, genre, or location. They should be able to view the details of a show and add it to their calendar.
            <br/>
            <br/>
            Additionally, users should be able to follow their favorite comedian. When they follow a comedian, they should see the upcoming shows of their favorite comedians in the Comedy Feed.
        </p>
    </div>
    <div class="well col-sm-5 col-sm-offset-1">
        <p>
            This website was built under the direction of <a href="http://programmingwithmosh.com/">Mosh Hamedani</a>
            in the Pluralsight courses
            <ul>
                <li>
                    Part 1: <a href="https://app.pluralsight.com/library/courses/full-stack-dot-net-developer-fundamentals/table-of-contents">Become a Full-stack .NET Developer</a>
                </li>
                <li>
                    Part 2: <a href="https://app.pluralsight.com/library/courses/full-stack-dot-net-developer/table-of-contents">Become a Full-stack .NET Developer - Advanced Topics</a>
                </li>
            </ul>
        </p>
    </div>

</div>
